examples/getStarted.json
[
    {
       "id":"cbae0763803aa6e9",
       "type":"group",
       "z":"3b6a718c4021497b",
       "name":"USBHID",
       "style":{
          "label":true
       },
       "nodes":[
          "78f82fb335672aca",
          "c1ecae6308a0525f",
          "d99660be8c6c6066",
          "546ab3a525f72ecc",
          "1b5120024bf4bc62",
          "f8d8cae1919e186c",
          "e1d69c8863f6de73",
          "015f81a5e59b3ab8",
          "8b5c64cdb00a690d",
          "a17e569ebce6c306"
       ],
       "x":34,
       "y":19,
       "w":1092,
       "h":182
    },
    {
       "id":"78f82fb335672aca",
       "type":"debug",
       "z":"3b6a718c4021497b",
       "g":"cbae0763803aa6e9",
       "name":"debug 2",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"false",
       "statusVal":"",
       "statusType":"auto",
       "x":460,
       "y":60,
       "wires":[
          
       ]
    },
    {
       "id":"c1ecae6308a0525f",
       "type":"gethiddevices-p",
       "z":"3b6a718c4021497b",
       "g":"cbae0763803aa6e9",
       "name":"",
       "x":300,
       "y":60,
       "wires":[
          [
             "78f82fb335672aca"
          ]
       ]
    },
    {
       "id":"d99660be8c6c6066",
       "type":"inject",
       "z":"3b6a718c4021497b",
       "g":"cbae0763803aa6e9",
       "name":"",
       "props":[
          {
             "p":"payload"
          },
          {
             "p":"topic",
             "vt":"str"
          }
       ],
       "repeat":"",
       "crontab":"",
       "once":false,
       "onceDelay":0.1,
       "topic":"",
       "payload":"",
       "payloadType":"date",
       "x":140,
       "y":60,
       "wires":[
          [
             "c1ecae6308a0525f"
          ]
       ]
    },
    {
       "id":"546ab3a525f72ecc",
       "type":"hiddevice-p",
       "z":"3b6a718c4021497b",
       "g":"cbae0763803aa6e9",
       "connection":"68a0ec4b6af1dcb1",
       "name":"",
       "x":290,
       "y":100,
       "wires":[
          [
             "e1d69c8863f6de73"
          ],
          [],
          [
             "015f81a5e59b3ab8"
          ]
       ]
    },
    {
       "id":"1b5120024bf4bc62",
       "type":"inject",
       "z":"3b6a718c4021497b",
       "g":"cbae0763803aa6e9",
       "name":"",
       "props":[
          {
             "p":"payload"
          },
          {
             "p":"topic",
             "vt":"str"
          }
       ],
       "repeat":"",
       "crontab":"",
       "once":false,
       "onceDelay":0.1,
       "topic":"",
       "payload":"",
       "payloadType":"date",
       "x":140,
       "y":100,
       "wires":[
          [
             "546ab3a525f72ecc"
          ]
       ]
    },
    {
       "id":"f8d8cae1919e186c",
       "type":"debug",
       "z":"3b6a718c4021497b",
       "g":"cbae0763803aa6e9",
       "name":"debug 3",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"false",
       "statusVal":"",
       "statusType":"auto",
       "x":620,
       "y":100,
       "wires":[
          
       ]
    },
    {
       "id":"e1d69c8863f6de73",
       "type":"function",
       "z":"3b6a718c4021497b",
       "g":"cbae0763803aa6e9",
       "name":"Hex to String",
       "func":"const hexBuffer = msg.payload;\n\n// Convert the hex buffer to a Buffer object\nconst buffer = Buffer.from(hexBuffer, 'hex');\n\n// Convert the Buffer to a string\nconst string = buffer.toString();\n\n// Assign the string to msg.payload for further processing\nmsg.payload = string;\n\nreturn msg;",
       "outputs":1,
       "timeout":0,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "libs":[
          
       ],
       "x":470,
       "y":100,
       "wires":[
          [
             "f8d8cae1919e186c"
          ]
       ]
    },
    {
       "id":"68a0ec4b6af1dcb1",
       "type":"hidconfig-p",
       "vid":"1504",
       "pid":"1536",
       "name":"Barcode Scanner"
    },
    {
        "id": "015f81a5e59b3ab8",
        "type": "function",
        "z": "3b6a718c4021497b",
        "g": "cbae0763803aa6e9",
        "name": "Parse Connection Status",
        "func": "// Log incoming message for debugging\nnode.log(\"Incoming message: \" + JSON.stringify(msg));\n\n// Get the status from the incoming message\nconst status = msg.payload;\n\nif (status && status.fill) {\n    // Create two separate messages\n    const ledMsg = { payload: 3 };  // Default to red\n    const textMsg = { payload: status.text };  // Use the actual status text\n\n    // Set LED color based on status\n    switch(status.fill) {\n        case \"green\":\n            ledMsg.payload = 1;  // Green\n            break;\n        case \"yellow\":\n            ledMsg.payload = 2;  // Yellow\n            break;\n        case \"red\":\n            ledMsg.payload = 3;  // Red\n            break;\n    }\n    \n    node.log(\"Setting LED state to: \" + ledMsg.payload);\n    node.log(\"Setting status text to: \" + textMsg.payload);\n\n    // Return array of messages [LED message, Text message]\n    return [ledMsg, textMsg];\n} else {\n    // Handle invalid status\n    return [{payload: 3}, {payload: \"Unknown status\"}];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 160,
        "wires": [
            ["8b5c64cdb00a690d"],
            ["a17e569ebce6c306"]
        ]
    },
    {
        "id": "8b5c64cdb00a690d",
        "type": "ui_led",
        "z": "3b6a718c4021497b",
        "g": "cbae0763803aa6e9",
        "order": 0,
        "group": "Connection Status",
        "width": 0,
        "height": 0,
        "label": "Connection LED",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {"color":"#00ff00","value":"1","valueType":"num"},
            {"color":"#ffff00","value":"2","valueType":"num"},
            {"color":"#ff0000","value":"3","valueType":"num"}
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Connection LED",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "a17e569ebce6c306",
        "type": "ui_text",
        "z": "3b6a718c4021497b",
        "g": "cbae0763803aa6e9",
        "group": "Connection Status",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Status Text",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 660,
        "y": 180,
        "wires": []
    }
]
